.autoringRequests {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 20px; 
}

.autoringRequest{
    flex-basis: 20%;
    margin: 1em;
    padding: 1em;
    border: 1px solid  rgb(124, 29, 29);
}
.AbsentRequestForm{

    margin:1em; 
    padding: 1em; 
}
.absentRequestAccepted{
  border: 1px solid green;
  width:350px;
  height:400px;  
  border-radius: 10%;
  margin: 1em;
  padding: 1em;

}
.absentRequestPending{
  border:1px solid yellow; 
  width:350px;
  height:400px;  
  margin: 1em;
  padding: 1em;
  border-radius: 10%
}

.approvedAbsentImage{
  width:200px; 
  height:300px; 
}

.testLogo{
  width:45px; 
  height: 45px; 
  margin-top: 15px; 
  margin-left: 8px;
}
.absentAndTestLogo{
  display: flex;
}