.teachers {
  flex-basis:20%; 
}

.teacher{
    flex-basis:100%; 
    margin: 1em;
    padding: 1em;
    border: 1px solid  rgb(124, 29, 29);
   
}
.teacher__subject{
  margin: auto; 
}
img{
 margin-right: .5rem;
}
.teacherName{
  padding-top:6px; 

  
}
.teacherAndLogo{
  display: flex;
}