.events {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-basis:60%;
}

.event{
    flex-basis: 20%;
    margin: 1em;
    padding: 1em;
    border: 1px solid  rgb(124, 29, 29);
}

.events-Button{

  flex-basis:80%; 
  
}
.eventsPlusTeachers{
  display:flex; 
  width:100%; 
}


.addEvent-button{
  margin: auto; 
}