.navBar {
  display: flex;
  flex-wrap: wrap; 
  justify-content: flex-end;
  background-color: rgb(143, 130, 130);
  padding: 1rem;
  margin: -10px;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,0.88);
}

.navbar__item {
  flex-basis: 15%;
  list-style-type: none;
  text-decoration: none;
  color: white;
  margin-top: 10px; 
 

}
.navbar__logoStudent{
  color: black;
  margin-top: 20px; 
  list-style-type: none;
  text-decoration: none;

}
.navbar__logoTeacher{
  color: black;
  margin-top: 10px; 
  list-style-type: none;
  text-decoration: none;
  text-align: center;
  justify-content: space-evenly;
  padding: .5rem;
}
.mr-auto{
  padding-top: 15px;
  color:black !important; 
}
.studentLogo{
    width: 35px; 
    height: 35px;
}
.teacherLogo{
    width: 35px; 
    height: 35px;
    padding-bottom: 5px;
}

.navbar__link {
  display:flex;
  text-decoration: none;
  color: black;
  text-align: center;
  font-size: 18px;
  justify-content: space-evenly;
  padding: .5rem;
}